In [1]:
import pandas as pd
import random
from faker import Faker

fake = Faker('id_ID')
Faker.seed(42)
random.seed(42)

# Contoh data referensi
kota_region = {
    'Surabaya': 'Jawa Timur',
    'Malang': 'Jawa Timur',
    'Bandung': 'Jawa Barat',
    'Jakarta': 'DKI Jakarta',
    'Medan': 'Sumatera Utara',
    'Yogyakarta': 'DI Yogyakarta',
    'Semarang': 'Jawa Tengah',
    'Makassar': 'Sulawesi Selatan',
    'Denpasar': 'Bali',
    'Palembang': 'Sumatera Selatan'
}

barang_list = [
    (101, 'Boneka Teddy Bear', 'Mainan', 75000, 'Gudang Surabaya'),
    (102, 'Mobil Hot Wheels', 'Mainan', 50000, 'Gudang Jakarta'),
    (103, 'Lego Classic Set', 'Mainan Edukasi', 250000, 'Gudang Bandung'),
    (104, 'Robot Remote', 'Elektronik', 300000, 'Gudang Surabaya'),
    (105, 'Puzzle Anak', 'Mainan Edukasi', 45000, 'Gudang Yogyakarta')
]

pengirim_list = [
    (1, 'JNE Express', 'Ekspedisi', 3),
    (2, 'Sicepat', 'Ekspedisi', 2),
    (3, 'Kurir Internal', 'Internal', 1)
]

metode_bayar = ['Transfer', 'COD', 'Kartu Kredit']

# Data customer
customers = []
for i in range(1, 21):
    nama = fake.name()
    email = fake.email()
    telepon = fake.phone_number()
    alamat = fake.address().replace('\n', ', ')
    kota = random.choice(list(kota_region.keys()))
    region = kota_region[kota]
    metode = random.choice(metode_bayar)
    customers.append([i, nama, email, telepon, alamat, kota, region, metode])

# Data barang
barang = [list(b) + [random.randint(20, 100)] for b in barang_list]  # tambahkan stok

# Data pengirim
pengirim = [list(p) for p in pengirim_list]

# Data faktur dan detail
faktur = []
faktur_detail = []
faktur_id = 1001
for _ in range(50):  # 50 faktur
    id_customer = random.randint(1, 20)
    id_pengirim = random.randint(1, len(pengirim))
    tanggal = fake.date_between(start_date='-6M', end_date='today')
    status = random.choice([1, 2, 3])
    faktur.append([faktur_id, id_customer, id_pengirim, tanggal, status])

    for _ in range(random.randint(1, 3)):  # 1–3 barang per faktur
        id_barang, _, _, harga, _ = random.choice(barang_list)
        jumlah = random.randint(1, 5)
        total_harga = jumlah * harga
        faktur_detail.append([faktur_id, id_barang, jumlah, harga, total_harga])
    
    faktur_id += 1

# Convert ke DataFrame
df_customer = pd.DataFrame(customers, columns=[
    'id_customer', 'nama_customer', 'email', 'telepon', 'alamat', 'kota', 'region', 'metode_pembayaran_disetujui'])

df_barang = pd.DataFrame(barang, columns=[
    'id_barang', 'nama_barang', 'kategori', 'harga_default', 'lokasi_gudang', 'stok'])

df_pengirim = pd.DataFrame(pengirim, columns=[
    'id_pengirim', 'nama_pengirim', 'metode_kirim', 'estimasi_hari'])

df_faktur = pd.DataFrame(faktur, columns=[
    'id_faktur', 'id_customer', 'id_pengirim', 'tanggal', 'status'])

df_faktur_detail = pd.DataFrame(faktur_detail, columns=[
    'id_faktur', 'id_barang', 'jumlah', 'harga', 'total_harga'])

In [1]:
import pandas as pd
import random
from faker import Faker

fake = Faker('id_ID')
Faker.seed(42)
random.seed(42)

# Contoh data referensi
kota_region = {
    'Surabaya': 'Jawa Timur',
    'Malang': 'Jawa Timur',
    'Bandung': 'Jawa Barat',
    'Jakarta': 'DKI Jakarta',
    'Medan': 'Sumatera Utara',
    'Yogyakarta': 'DI Yogyakarta',
    'Semarang': 'Jawa Tengah',
    'Makassar': 'Sulawesi Selatan',
    'Denpasar': 'Bali',
    'Palembang': 'Sumatera Selatan'
}

# Perluasan daftar barang menjadi 25 item
barang_list = [
    (101, 'Boneka Teddy Bear', 'Mainan', 75000, 'Gudang Surabaya'),
    (102, 'Mobil Hot Wheels', 'Mainan', 50000, 'Gudang Jakarta'),
    (103, 'Lego Classic Set', 'Mainan Edukasi', 250000, 'Gudang Bandung'),
    (104, 'Robot Remote', 'Elektronik', 300000, 'Gudang Surabaya'),
    (105, 'Puzzle Anak', 'Mainan Edukasi', 45000, 'Gudang Yogyakarta'),
    (106, 'Play-Doh Set', 'Mainan Edukasi', 60000, 'Gudang Jakarta'),
    (107, 'Balok Kayu Warna', 'Mainan Edukasi', 80000, 'Gudang Bandung'),
    (108, 'Kereta Thomas Mini', 'Mainan', 40000, 'Gudang Malang'),
    (109, 'Mainan Masak-Masakan', 'Mainan', 65000, 'Gudang Surabaya'),
    (110, 'Mainan Dokter-Dokteran', 'Mainan Edukasi', 70000, 'Gudang Jakarta'),
    (111, 'Puzzle Huruf Alfabet', 'Mainan Edukasi', 55000, 'Gudang Semarang'),
    (112, 'Flashcard Binatang', 'Mainan Edukasi', 30000, 'Gudang Denpasar'),
    (113, 'Boneka Barbie', 'Mainan', 120000, 'Gudang Palembang'),
    (114, 'Drone Mini', 'Elektronik', 350000, 'Gudang Bandung'),
    (115, 'RC Car Jeep', 'Elektronik', 275000, 'Gudang Jakarta'),
    (116, 'Mainan Bongkar Pasang Mobil', 'Mainan Edukasi', 85000, 'Gudang Surabaya'),
    (117, 'Monopoli Junior', 'Mainan Edukasi', 95000, 'Gudang Yogyakarta'),
    (118, 'Kartu Uno', 'Mainan', 25000, 'Gudang Makassar'),
    (119, 'Magic Sand Set', 'Mainan Edukasi', 70000, 'Gudang Surabaya'),
    (120, 'Buku Cerita Interaktif', 'Mainan Edukasi', 40000, 'Gudang Medan'),
    (121, 'Papan Tulis Magnetik', 'Mainan Edukasi', 80000, 'Gudang Jakarta'),
    (122, 'Mainan Sains Anak', 'Mainan Edukasi', 125000, 'Gudang Yogyakarta'),
    (123, 'Finger Painting Kit', 'Mainan Edukasi', 60000, 'Gudang Malang'),
    (124, 'Puzzle Dunia Hewan', 'Mainan Edukasi', 45000, 'Gudang Bandung'),
    (125, 'Mainan Keyboard Mini', 'Elektronik', 220000, 'Gudang Jakarta')
]

pengirim_list = [
    (1, 'JNE Express', 'Ekspedisi', 3),
    (2, 'Sicepat', 'Ekspedisi', 2),
    (3, 'Kurir Internal', 'Internal', 1)
]

metode_bayar = ['Transfer', 'COD', 'Kartu Kredit']

# Data customer
customers = []
for i in range(1, 21):
    nama = fake.name()
    email = fake.email()
    telepon = fake.phone_number()
    alamat = fake.address().replace('\n', ', ')
    kota = random.choice(list(kota_region.keys()))
    region = kota_region[kota]
    metode = random.choice(metode_bayar)
    customers.append([i, nama, email, telepon, alamat, kota, region, metode])

# Data barang dengan stok acak
barang = [list(b) + [random.randint(20, 100)] for b in barang_list]

# Data pengirim
pengirim = [list(p) for p in pengirim_list]

# Data faktur dan faktur_detail
faktur = []
faktur_detail = []
faktur_id = 1001
for _ in range(100):  # 100 faktur (dinaikkan dari 50)
    id_customer = random.randint(1, 20)
    id_pengirim = random.randint(1, len(pengirim))
    tanggal = fake.date_between(start_date='-6M', end_date='today')
    status = random.choice([1, 2, 3])
    faktur.append([faktur_id, id_customer, id_pengirim, tanggal, status])

    for _ in range(random.randint(1, 3)):  # 1–3 barang per faktur
        id_barang, _, _, harga, _ = random.choice(barang_list)
        jumlah = random.randint(1, 5)
        total_harga = jumlah * harga
        faktur_detail.append([faktur_id, id_barang, jumlah, harga, total_harga])
    
    faktur_id += 1

# Convert ke DataFrame
df_customer = pd.DataFrame(customers, columns=[
    'id_customer', 'nama_customer', 'email', 'telepon', 'alamat', 'kota', 'region', 'metode_pembayaran_disetujui'])

df_barang = pd.DataFrame(barang, columns=[
    'id_barang', 'nama_barang', 'kategori', 'harga_default', 'lokasi_gudang', 'stok'])

df_pengirim = pd.DataFrame(pengirim, columns=[
    'id_pengirim', 'nama_pengirim', 'metode_kirim', 'estimasi_hari'])

df_faktur = pd.DataFrame(faktur, columns=[
    'id_faktur', 'id_customer', 'id_pengirim', 'tanggal', 'status'])

df_faktur_detail = pd.DataFrame(faktur_detail, columns=[
    'id_faktur', 'id_barang', 'jumlah', 'harga', 'total_harga'])

# Cek panjang faktur_detail untuk memastikan > 150
print(f"Jumlah baris faktur_detail: {len(df_faktur_detail)}")

Jumlah baris faktur_detail: 200

In [2]:
df_customer

,id_customer,nama_customer,email,telepon,alamat,kota,region,metode_pembayaran_disetujui
0,1,"Balidin Dongoran, S.T.",ivanmandala@example.net,+62 (081) 960-0133,"Jalan Cihampelas No. 4, Tual, Jawa Timur 54235",Malang,Jawa Timur,Transfer
1,2,Bakiman Wibowo,tambamalik@example.net,+62 (0078) 161 8495,"Jl. PHH. Mustofa No. 316, Palu, Papua 55341",Medan,Sumatera Utara,Transfer
2,3,Hj. Ella Nasyidah,gamantohariyah@example.com,+62 (0835) 030 5641,"Gg. Suniaraja No. 7, Kota Administrasi Jakarta...",Jakarta,DKI Jakarta,Transfer
3,4,drg. Karen Prasetya,cicilailasari@example.org,+62-012-269-1669,"Jl. Jayawijaya No. 51, Palangkaraya, JI 04828",Malang,Jawa Timur,Kartu Kredit
4,5,Tedi Utami,sari89@example.org,+62 (52) 880 9570,"Jalan Cikutra Barat No. 911, Batam, Jawa Barat...",Denpasar,Bali,Transfer
5,6,"Ir. Lintang Prabowo, M.Pd",leowacana@example.net,+62 (787) 133-1509,"Jl. Medokan Ayu No. 310, Batu, Sumatera Selata...",Palembang,Sumatera Selatan,COD
6,7,"Queen Permata, M.Kom.",warsitawasita@example.org,+62 (016) 566-7010,"Jl. Kebonjati No. 872, Denpasar, KR 31781",Surabaya,Jawa Timur,Transfer
7,8,Martana Namaga,iswahyudijasmani@example.org,(077) 360-2606,"Gang Stasiun Wonokromo No. 7, Depok, LA 09805",Malang,Jawa Timur,Transfer
8,9,Asirwanda Padmasari,hmardhiyah@example.org,+62-081-219-1361,"Gg. Kapten Muslihat No. 9, Kota Administrasi J...",Jakarta,DKI Jakarta,Kartu Kredit
9,10,Iriana Hidayanto,haryantiputi@example.net,+62 (018) 384-2513,"Gg. R.E Martadinata No. 4, Surakarta, MA 24118",Palembang,Sumatera Selatan,Transfer
10,11,Empluk Suryono,mahfudputra@example.net,+62 (0874) 016 4005,"Gg. M.H Thamrin No. 6, Binjai, DI Yogyakarta 8...",Denpasar,Bali,Transfer
11,12,Irfan Mahendra,samosiromar@example.org,+62 (331) 586-9232,"Jl. Rumah Sakit No. 34, Tanjungpinang, Goronta...",Denpasar,Bali,COD
12,13,Ina Pradana,asirwadawahyuni@example.org,(054) 145 8685,"Jalan Indragiri No. 01, Malang, Maluku Utara 9...",Jakarta,DKI Jakarta,COD
13,14,Dodo Gunawan,hadriansyah@example.net,+62-561-595-1484,"Gang M.H Thamrin No. 366, Singkawang, MA 80443",Palembang,Sumatera Selatan,COD
14,15,Winda Prastuti,wadi77@example.net,+62-872-148-9513,"Jl. Astana Anyar No. 379, Palu, SR 67632",Surabaya,Jawa Timur,Transfer
15,16,"Malik Ardianto, S.IP",lprasetya@example.net,087 083 1727,"Gang Jamika No. 7, Kota Administrasi Jakarta S...",Semarang,Jawa Tengah,COD
16,17,Nasab Suwarno,kenarisitorus@example.com,0812236231,"Gang Veteran No. 366, Tual, PB 05466",Medan,Sumatera Utara,Transfer
17,18,H. Oman Palastri,ayuprasetya@example.com,(070) 656-2729,"Jl. H.J Maemunah No. 27, Banjarbaru, Kepulauan...",Jakarta,DKI Jakarta,COD
18,19,"dr. Estiawan Andriani, S.T.",halimaharis@example.net,0805310033,"Jl. Waringin No. 1, Pangkalpinang, Kepulauan B...",Malang,Jawa Timur,Transfer
19,20,Cici Prastuti,saragihkasiyah@example.net,(063) 193 1491,"Gang Cikutra Timur No. 5, Padangpanjang, Sumat...",Semarang,Jawa Tengah,Transfer

In [3]:
df_faktur

    id_faktur  id_customer  id_pengirim     tanggal  status
0        1001            9            2  2025-01-02       3
1        1002            9            3  2025-04-20       3
2        1003            6            2  2025-03-10       2
3        1004            2            1  2025-04-04       1
4        1005           19            3  2025-01-20       2
..        ...          ...          ...         ...     ...
95       1096            9            3  2025-01-12       1
96       1097            8            3  2024-12-22       2
97       1098            8            2  2025-04-18       3
98       1099           12            2  2025-01-05       3
99       1100           15            2  2025-01-29       2

[100 rows x 5 columns]

In [4]:
df_barang

,id_barang,nama_barang,kategori,harga_default,lokasi_gudang,stok
0,101,Boneka Teddy Bear,Mainan,75000,Gudang Surabaya,65
1,102,Mobil Hot Wheels,Mainan,50000,Gudang Jakarta,64
2,103,Lego Classic Set,Mainan Edukasi,250000,Gudang Bandung,97
3,104,Robot Remote,Elektronik,300000,Gudang Surabaya,53
4,105,Puzzle Anak,Mainan Edukasi,45000,Gudang Yogyakarta,25
5,106,Play-Doh Set,Mainan Edukasi,60000,Gudang Jakarta,78
6,107,Balok Kayu Warna,Mainan Edukasi,80000,Gudang Bandung,88
7,108,Kereta Thomas Mini,Mainan,40000,Gudang Malang,35
8,109,Mainan Masak-Masakan,Mainan,65000,Gudang Surabaya,68
9,110,Mainan Dokter-Dokteran,Mainan Edukasi,70000,Gudang Jakarta,30
10,111,Puzzle Huruf Alfabet,Mainan Edukasi,55000,Gudang Semarang,90
11,112,Flashcard Binatang,Mainan Edukasi,30000,Gudang Denpasar,57
12,113,Boneka Barbie,Mainan,120000,Gudang Palembang,100
13,114,Drone Mini,Elektronik,350000,Gudang Bandung,99
14,115,RC Car Jeep,Elektronik,275000,Gudang Jakarta,66
15,116,Mainan Bongkar Pasang Mobil,Mainan Edukasi,85000,Gudang Surabaya,93
16,117,Monopoli Junior,Mainan Edukasi,95000,Gudang Yogyakarta,44
17,118,Kartu Uno,Mainan,25000,Gudang Makassar,28
18,119,Magic Sand Set,Mainan Edukasi,70000,Gudang Surabaya,25
19,120,Buku Cerita Interaktif,Mainan Edukasi,40000,Gudang Medan,49
20,121,Papan Tulis Magnetik,Mainan Edukasi,80000,Gudang Jakarta,57
21,122,Mainan Sains Anak,Mainan Edukasi,125000,Gudang Yogyakarta,30
22,123,Finger Painting Kit,Mainan Edukasi,60000,Gudang Malang,49
23,124,Puzzle Dunia Hewan,Mainan Edukasi,45000,Gudang Bandung,32
24,125,Mainan Keyboard Mini,Elektronik,220000,Gudang Jakarta,68

In [5]:
df_faktur_detail

     id_faktur  id_barang  jumlah   harga  total_harga
0         1001        106       3   60000       180000
1         1001        112       2   30000        60000
2         1002        103       5  250000      1250000
3         1002        121       2   80000       160000
4         1002        118       2   25000        50000
..         ...        ...     ...     ...          ...
195       1099        112       4   30000       120000
196       1099        124       5   45000       225000
197       1099        111       3   55000       165000
198       1100        108       1   40000        40000
199       1100        124       2   45000        90000

[200 rows x 5 columns]

In [6]:
df_pengirim

   id_pengirim   nama_pengirim metode_kirim  estimasi_hari
0            1     JNE Express    Ekspedisi              3
1            2         Sicepat    Ekspedisi              2
2            3  Kurir Internal     Internal              1

In [7]:
# Simpan ke CSV
df_customer.to_csv('data/customer.csv', index=False)
df_barang.to_csv('data/barang.csv', index=False)
df_pengirim.to_csv('data/pengirim.csv', index=False)
df_faktur.to_csv('data/faktur.csv', index=False)
df_faktur_detail.to_csv('data/faktur_detail.csv', index=False)

[
    "data/customer.csv",
    "data/barang.csv",
    "data/pengirim.csv",
    "data/faktur.csv",
    "data/faktur_detail.csv"
]

['data/customer.csv',
 'data/barang.csv',
 'data/pengirim.csv',
 'data/faktur.csv',
 'data/faktur_detail.csv']